@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.ttf?jy7spg") format("truetype"), url("../fonts/icons.woff?jy7spg") format("woff"), url("../fonts/icons.svg?jy7spg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
  content: "\e900";
}

.icon-insta:before {
  content: "\e901";
}

.icon-vk:before {
  content: "\e902";
}

.icon-you:before {
  content: "\e903";
}

@font-face {
  font-family: 'icons';
  font-display: swap;
  src: url("../fonts/icons.eot?enclwy");
  src: url("../fonts/icons.eot?enclwy#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?enclwy") format("truetype"), url("../fonts/icons.woff?enclwy") format("woff"), url("../fonts/icons.svg?enclwy#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: block;
}

.icon-vk:before {
  content: "\e900";
}

.icon-you:before {
  content: "\e901";
}

.icon-insta:before {
  content: "\e902";
}

.icon-fb:before {
  content: "\e903";
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  height: 49px;
  width: 223px;
  padding: 16px 67px 18px 68px;
  display: inline-block;
  background-color: #f48220;
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s linear 0s;
  -o-transition: background-color 0.3s linear 0s;
  transition: background-color 0.3s linear 0s;
}

.btn:hover {
  background-color: #224a98;
}

.btn--long {
  width: 476px;
  padding: 16px 35px 18px 37px;
}

.btn--ser {
  padding: 17px 16px 18px 16px;
  width: 223px;
}

.icon-menu {
  display: none;
}

.img3 img {
  margin: 0px 16px 0px 0px;
}

.footer-title {
  font-size: 15px;
  font-weight: 700;
  line-height: 173.33333%;
  color: #fff;
  text-transform: uppercase;
}

.footer-link {
  font-size: 15px;
  font-weight: 400;
  line-height: 173.33333%;
  color: #c4c4c4;
}

.mb12 {
  margin-bottom: 12px;
}

.mb10 {
  margin-bottom: 8px;
}

.header__container {
  padding-top: 5px;
  padding: 5px 15px 0px 15px;
  height: 85px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 193px;
          flex: 0 0 193px;
  height: 45px;
}

.menu__list {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.menu__list li {
  margin: 0px 0px 0px 60px;
}

.menu__link {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  z-index: 500;
  color: #0a54a0;
  line-height: 50.6%;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.menu__link span {
  position: relative;
  z-index: 500;
  display: block;
  line-height: 28px;
}

.menu__link span:after,
.menu__link span:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #f48220;
  bottom: 0;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.menu__link span:before {
  top: 0;
}

.menu__link:hover {
  color: #f48220;
}

.menu__link:hover span:after {
  left: 0;
  width: 100%;
}

.menu__link:hover span:before {
  left: 0;
  width: 100%;
}

.intro__container {
  width: 100%;
  height: 226px;
  padding: 0px 10px;
  background: #0a54a0 url(../img/intro.png) center no-repeat;
}

.intro__body {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0px 5px;
}

.intro__title {
  width: 1140px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  line-height: 140%;
  padding: 20px 0px 0px 0px;
  margin: 0px 0px 32px 0px;
}

.intro__title span {
  display: block;
  position: relative;
}

.intro__title span:after {
  content: '';
  position: absolute;
  background: #fff;
  bottom: -13px;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  margin: 0 auto;
}

.intro__subtitle {
  width: 980px;
  font-size: 25px;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
}

.content__body {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 55px 0px 50px 0px;
}

.content__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 376px;
          flex: 0 0 376px;
  margin: 0px 24px 0px 0px;
}

.content__item:last-child {
  margin: 0px 0px 0px 0px;
}

.content__image {
  position: relative;
  display: block;
  height: 355px;
}

.content__image--l img {
  position: absolute;
  left: 145px;
  top: 0;
}

.content__image--c img {
  position: absolute;
  left: 35px;
  top: -30px;
}

.content__image--r img {
  position: absolute;
  left: -70px;
  top: 0;
}

.content__info {
  text-align: center;
  width: 376px;
  -webkit-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  background-color: #ffffff;
}

.content__title {
  font-size: 25px;
  font-weight: 400;
  line-height: 132%;
  color: #0a54a0;
  padding: 15px 50px 0px 50px;
  margin: 0px 0px 12px 0px;
}

.content__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 166.66667%;
  padding: 0px 40px;
  margin: 0px 0px 28px 0px;
}

.content__btn {
  margin: 0px 0px 23px 0px;
}

.about {
  background: #f6f6f6;
}

.about__body {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  font-size: 35px;
  font-weight: 700;
  line-height: 125.71429%;
  color: #0a54a0;
  text-align: center;
  margin: 0px 0px 30px 0px;
  padding: 65px 0px 0px 0px;
}

.about__item-left,
.about__item-right {
  width: 100%;
  max-width: 1168px;
  height: 300px;
  background: #fff;
}

.about__item-right {
  background: none;
}

.about__item-inner {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  width: 100%;
  height: 239px;
  padding: 31px 0px 0px 0px;
}

.about__image-left,
.about__image-right {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 239px;
          flex: 0 0 239px;
  height: 239px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
}

.about__image-left {
  margin: 0px 47px 0px 13px;
}

.about__info-left {
  padding: 40px 10px 0px 0px;
}

.about__info-title-left,
.about__info-title-right {
  font-size: 25px;
  font-weight: 700;
  line-height: 132%;
  color: #717171;
  margin: 0px 0px 15px 0px;
}

.about__info-text-left,
.about__info-text-right {
  font-size: 18px;
  font-weight: 400;
  line-height: 183.33333%;
  color: #717171;
}

.about__image-right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0px 13px 0px 47px;
}

.about__info-right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: right;
  padding: 40px 0px 0px 10px;
}

.about__btn {
  display: block;
  margin: 0 auto 45px;
}

.footer-top {
  background: #717171;
  border-bottom: 1px solid #fff;
}

.footer-top__body {
  height: 225px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0px 0px 0px;
}

.footer-top__inner {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top__item {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 156px 0px 0px;
}

.footer-top__title {
  margin: 0px 0px 15px 0px;
}

.footer-top__link {
  -webkit-transition: color 0.3s linear 0s;
  -o-transition: color 0.3s linear 0s;
  transition: color 0.3s linear 0s;
}

.footer-top__link:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-top__social {
  padding: 10px 35px 0px 0px;
}

.footer-top__social-link {
  font-size: 32px;
  color: #c4c4c4;
  -webkit-transition: color 0.3s linear 0s;
  -o-transition: color 0.3s linear 0s;
  transition: color 0.3s linear 0s;
}

.footer-top__social-link:hover {
  color: #fff;
}

.footer {
  background: #717171;
}

.footer__body {
  height: 50px;
}

.footer__copy {
  font-size: 13px;
  font-weight: 400;
  line-height: 200%;
  text-align: center;
  padding: 10px 0px 0px 0px;
  color: #c4c4c4;
  -webkit-transition: color 0.3s linear 0s;
  -o-transition: color 0.3s linear 0s;
  transition: color 0.3s linear 0s;
}

.footer__copy a {
  color: #c4c4c4;
}

.footer__copy a:hover {
  color: #fff;
  text-decoration: underline;
}

.services-header {
  border-top: 1px solid #c4c4c4;
}

.services-header__body {
  height: 315px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-header__title {
  font-size: 45px;
  font-weight: 700;
  line-height: 137.77778%;
  padding: 45px 0px 0px 0px;
  margin: 0px 0px 30px 0px;
  text-align: center;
}

.services-strategic {
  background: #f6f6f6;
}

.services-strategic__body {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 760px;
}

.services-strategic__header {
  width: 100%;
  max-width: 1151px;
  padding: 50px 0px 0px 0px;
}

.services-strategic__header-title,
.services-strategic__content-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 125.71429%;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.services-strategic__header-title a,
.services-strategic__content-title a {
  color: #0a54a0;
  -webkit-transition: color 0.3s linear 0s;
  -o-transition: color 0.3s linear 0s;
  transition: color 0.3s linear 0s;
}

.services-strategic__header-title a:hover,
.services-strategic__content-title a:hover {
  color: #f48220;
  text-decoration: underline;
}

.services-strategic__header-text,
.services-strategic__content-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 166.66667%;
  color: #717171;
}

.services-strategic__content {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.services-strategic__content-info {
  padding: 40px 0px 0px 0px;
}

.services-strategic__content-item {
  margin: 0px 0px 15px 0px;
}

.services-strategic__content-title {
  font-size: 25px;
  font-weight: 400;
  line-height: 132%;
  margin: 0px 0px 7px 0px;
  text-align: left;
}

.services-strategic__content-image {
  width: 100%;
  max-width: 550px;
  padding: 10px 0px 0px 0px;
}

.services-strategic__content-image img {
  margin: 0px 0px 0px 60px;
}

.services-oper__body {
  height: 798px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-oper__header {
  width: 100%;
  max-width: 1162px;
  padding: 50px 0px 0px 0px;
}

.services-oper__header-title,
.services-oper__content-title {
  margin: 0px 0px 30px 0px;
  font-size: 35px;
  font-weight: 700;
  line-height: 125.71429%;
  text-align: center;
}

.services-oper__header-title a,
.services-oper__content-title a {
  color: #0a54a0;
  -webkit-transition: color 0.3s linear 0s;
  -o-transition: color 0.3s linear 0s;
  transition: color 0.3s linear 0s;
}

.services-oper__header-title a:hover,
.services-oper__content-title a:hover {
  color: #f48220;
  text-decoration: underline;
}

.services-oper__header-text,
.services-oper__content-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 166.66667%;
  color: #717171;
}

.services-oper__content {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  width: 100%;
}

.services-oper__content-image {
  padding: 25px 0px 0px 0px;
  margin: 0px 10px 0px 0px;
}

.services-oper__content-image img {
  margin: 0px 0px 0px -20px;
}

.services-oper__content-info {
  padding: 50px 0px 0px 0px;
}

.services-oper__content-item {
  margin: 0px 0px 15px 0px;
}

.services-oper__content-title {
  font-size: 25px;
  font-weight: 400;
  line-height: 132%;
  text-align: left;
  margin: 0px 0px 7px 0px;
}

@media (max-width: 1182px) {
  .container {
    max-width: 100%;
  }

  .btn--long {
    width: 462px;
    padding: 16px 30px 18px 30px;
  }

  .img1 img {
    width: 147px;
    height: 147px;
  }

  .img2 img {
    width: 142px;
    height: 134px;
  }

  .img3 img {
    width: 100px;
    height: 120px;
  }

  .img4 img {
    width: 115px;
    height: 89px;
  }

  .intro__container {
    height: 210px;
  }

  .intro__title {
    font-size: 44px;
    width: 1030px;
    padding: 20px 10px 0px 10px;
  }

  .content__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 303px;
            flex: 0 0 303px;
    margin: 0px 19px 0px 0px;
  }

  .content__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .content__image {
    height: 287px;
  }

  .content__image--l img {
    height: 255px;
    left: 125px;
  }

  .content__image--c img {
    height: 263px;
    top: -24px;
  }

  .content__image--r img {
    height: 255px;
    left: -55px;
  }

  .content__info {
    width: 303px;
  }

  .content__title {
    padding: 15px 5px 0px 5px;
  }

  .content__text {
    padding: 0px 5px 0px 5px;
  }

  .about__item-left,
  .about__item-right {
    width: 982px;
  }

  .about__item-right {
    margin-left: 42px;
  }

  .about__image-left,
  .about__image-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 231px;
            flex: 0 0 231px;
    height: 231px;
  }

  .about__image-left {
    margin: 0px 23px 0px 45px;
  }

  .about__info-left {
    padding: 20px 10px 0px 0px;
  }

  .about__image-right {
    margin: 0px 45px 0px 23px;
  }

  .about__info-right {
    padding: 20px 10px 0px 0px;
  }

  .footer-top__inner {
    padding: 0px 0px 0px 45px;
  }

  .services-strategic__body {
    padding: 0px 15px;
    height: auto;
  }

  .services-strategic__content-image img {
    margin: 0;
  }

  .services-strategic__content-image {
    max-width: none;
    padding: 50px 0px 0px 0px;
  }

  .services-oper__body {
    padding: 0px 15px;
    height: auto;
  }

  .services-oper__content-image img {
    margin: 0;
  }

  .services-oper__content-image {
    max-width: none;
    padding: 50px 0px 0px 0px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 100%;
  }

  .btn {
    width: 180px;
    padding: 16px 47px 18px 48px;
  }

  .btn--long {
    width: 462px;
    padding: 16px 30px 18px 30px;
  }

  .btn--ser {
    width: 223px;
    font-size: 15px;
    padding: 17px 16px 18px 16px;
  }

  .img1 img {
    width: 140px;
    height: 140px;
  }

  .intro__container {
    height: 262px;
  }

  .intro__title {
    width: 630px;
  }

  .intro__title span:after {
    width: 725px;
    left: -60px;
  }

  .intro__subtitle {
    width: 790px;
    font-size: 23px;
  }

  .content__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 240px;
            flex: 0 0 240px;
    margin: 0px 9px 0px 0px;
  }

  .content__image--l img {
    left: 25px;
  }

  .content__image--c img {
    left: 7px;
  }

  .content__image--r img {
    left: -10px;
  }

  .content__info {
    width: 240px;
  }

  .content__title {
    font-size: 20px;
    padding: 15px 5px 0px 5px;
    margin: 0px 0px 7px 0px;
  }

  .content__text {
    font-size: 13px;
    padding: 0px 40px 0px 40px;
    margin: 0px 0px 18px 0px;
  }

  .about__title {
    padding: 25px 0px 0px 0px;
  }

  .about__item-left,
  .about__item-right {
    width: 767px;
    height: 280px;
  }

  .about__item-right {
    margin: 0;
  }

  .about__image-left,
  .about__image-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 215px;
            flex: 0 0 215px;
    height: 215px;
  }

  .about__image-left {
    margin: 0px 15px 0px 15px;
  }

  .about__info-title-left,
  .about__info-title-right {
    font-size: 20px;
  }

  .about__info-text-left,
  .about__info-text-right {
    font-size: 16px;
  }

  .about__image-right {
    margin: 0px 15px;
  }

  .about__info-right {
    padding: 20px 0px 0px 0px;
  }

  .about__btn {
    margin: 20px 0px 30px 0px;
  }

  .footer-top__body {
    padding: 20px 0px 0px 0px;
    height: 200px;
  }

  .footer-top__inner {
    padding: 0px 0px 0px 35px;
  }

  .footer-top__item {
    margin: 0px 80px 0px 0px;
  }

  .footer-top__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .services-header__body {
    height: 290px;
  }

  .services-header__body {
    height: 260px;
  }

  .services-header__title {
    font-size: 40px;
  }

  .services-strategic__content {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services-strategic__content-info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 10px 0px 0px 0px;
  }

  .services-strategic__content-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 20px 0px 0px 0px;
    text-align: center;
  }

  .services-oper__content {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services-oper__content-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 20px 0px 0px 0px;
    text-align: center;
  }

  .services-oper__content-info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 10px 0px 0px 0px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0px 10px;
  }

  .btn {
    width: 208px;
    height: 46px;
    padding: 14px 47px 16px 48px;
  }

  .btn--long {
    width: 280px;
    padding: 9px 30px 9px 30px;
    text-align: center;
  }

  .btn--ser {
    width: 223px;
    font-size: 15px;
    padding: 15px 16px 18px 16px;
  }

  .img1 img {
    width: 67px;
    height: 67px;
  }

  .img2 img {
    width: 72px;
    height: 68px;
  }

  .img3 img {
    width: 56px;
    height: 68px;
    margin: 0px 8px 0px 0px;
  }

  .img4 img {
    width: 66px;
    height: 51px;
  }

  .menu__list li {
    margin: 0px 0px 0px 30px;
  }

  .intro__container {
    background-size: 320px auto;
    height: 145px;
  }

  .intro__title {
    font-size: 23px;
    width: 300px;
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 13px 0px;
  }

  .intro__title span:after {
    bottom: -5px;
    width: 100%;
    left: 0;
  }

  .intro__subtitle {
    font-size: 13px;
    width: 300px;
  }

  .content__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 25px 0px 50px 0px;
  }

  .content__item {
    -webkit-box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.16);
            box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background-color: #ffffff;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }

  .content__image--l img {
    position: relative;
    left: 0;
    height: 260px;
    margin: 22px 0px 0px 0px;
  }

  .content__image--c img {
    position: relative;
    left: 0;
    top: 0;
    margin: 22px 0px 0px 0px;
  }

  .content__image--r img {
    position: relative;
    left: 0;
    margin: 22px 0px 0px 0px;
  }

  .content__info {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    background-color: none;
  }

  .content__title {
    font-size: 23px;
    padding: 5px 5px 0px 5px;
    margin: 0px 0px 10px 0px;
  }

  .content__text {
    font-size: 14px;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 25px 0px;
  }

  .about__title {
    font-size: 25px;
    padding: 20px 10px 0px 10px;
    margin: 0px 0px 10px 0px;
  }

  .about__item-left,
  .about__item-right {
    width: 100%;
    height: auto;
  }

  .about__item-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px 0px 0px 0px;
  }

  .about__image-left,
  .about__image-right {
    width: 100px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    height: 100px;
  }

  .about__image-left {
    margin: 0 auto;
  }

  .about__info-left {
    padding: 10px;
  }

  .about__info-title-left,
  .about__info-title-right {
    font-size: 15px;
    margin: 0px 0px 5px 0px;
  }

  .about__info-text-left,
  .about__info-text-right {
    font-size: 12px;
  }

  .about__image-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto;
  }

  .about__info-right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: left;
    padding: 10px;
  }

  .footer-top__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer-top__item {
    margin: 0px 20px 0px 0px;
  }

  .footer-top__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .footer__body {
    height: 35px;
  }

  .footer__copy {
    font-size: 10px;
  }

  .services-header__title {
    font-size: 30px;
  }

  .services-strategic__header {
    padding: 20px 0px 0px 0px;
  }

  .services-strategic__header-title,
  .services-strategic__content-title {
    font-size: 25px;
    margin: 0px 0px 15px 0px;
  }

  .services-strategic__content-title {
    font-size: 20px;
  }

  .services-strategic__content-image img {
    width: 320px;
  }

  .services-oper__header {
    padding: 20px 0px 0px 0px;
  }

  .services-oper__header-title,
  .services-oper__content-title {
    font-size: 25px;
    margin: 0px 0px 15px 0px;
  }

  .services-oper__content-image img {
    width: 320px;
  }

  .services-oper__content-title {
    font-size: 20px;
  }
}

@media (max-width: 667px) {
  .icon-menu {
    display: block;
    position: absolute;
    width: 30px;
    height: 18px;
    top: 28px;
    right: 10px;
    z-index: 1001;
    cursor: pointer;
  }

  .icon-menu span {
    position: absolute;
    background-color: #0a54a0;
    left: 0;
    width: 100%;
    height: 2px;
    top: 8px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }

  .menu__body {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.6s linear 0s;
    transition: -webkit-transform 0.6s linear 0s;
    -o-transition: transform 0.6s linear 0s;
    transition: transform 0.6s linear 0s;
    transition: transform 0.6s linear 0s, -webkit-transform 0.6s linear 0s;
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    padding: 70px 10px 30px 10px;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .menu__body.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .menu__list {
    display: block;
    text-align: center;
  }

  .menu__list li {
    margin: 0px 0px 25px 0px;
  }

  .menu__link {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .footer-top__body {
    height: 395px;
    position: relative;
  }

  .footer-top__inner {
    padding: 5px 0px 0px 5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer-top__item {
    margin: 0;
  }

  .footer-top__item:first-child {
    margin: 0px 300px 0px 0px;
  }

  .footer-top__item:last-child {
    margin: 0px 150px 0px 0px;
  }

  .footer-top__social {
    position: absolute;
    display: block;
    top: 30px;
    right: 0;
    width: 40px;
    height: 200px;
    padding: 0;
  }
}

@media (max-width: 479.98px) {
  .btn--ser {
    width: 223px;
    font-size: 15px;
    padding: 15px 16px 18px 16px;
  }

  .icon-menu {
    top: 20px;
  }

  .header__container {
    height: 60px;
  }

  .header__logo {
    margin-top: 10px;
  }

  .header__logo img {
    width: 143px;
  }

  .footer-top__item:first-child {
    margin: 0px 130px 0px 0px;
  }

  .footer-top__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .services-header__title {
    font-size: 22px;
  }

  .services-strategic__body {
    padding: 0;
  }

  .services-strategic__header-title,
  .services-strategic__content-title {
    font-size: 22px;
  }

  .services-strategic__content-title {
    font-size: 18px;
  }

  .services-strategic__content-image img {
    width: 300px;
  }

  .services-oper__body {
    padding: 0;
  }

  .services-oper__header-title,
  .services-oper__content-title {
    font-size: 22px;
  }

  .services-oper__content-image img {
    width: 300px;
  }

  .services-oper__content-title {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .footer-top__item:first-child {
    margin: 0px 50px 0px 0px;
  }
}

.webp .intro__container{ background: #0a54a0 url(../img/intro.webp) center no-repeat; }